<h1>Your Plot</h1>
<div id="plot-container" style="width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;"></div>




<script type="module">
  console.log("Hello from show.html.erb");
</script>

<%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload", defer: true %>
<%= tag.meta name: "turbo-visit-control", content: "reload" %>

