<div style="display: flex; height: 100vh;">
  <!-- Sidebar or Options Section -->
  <div style="width: 250px; background-color: #f5f5f5; padding: 20px;">
    <h3>Customize Floor</h3>
    <select id="floor-options" style="width: 100%;">
      <option value="cobblestone_floor">Cobblestone Floor</option>
      <option value="monastery_stone_floor">Monastery Stone</option>
      <option value="sparse_grass">Sparse Grass</option>
      <option value="wood_floor">Wood Floor</option>
    </select>

    <h3>Customize Walls</h3>
    <select id="wall-options" style="width: 100%;">
      <option value="wooden_garage_door">Wooden Garage</option>
      <option value="stone_wall">Stone Wall</option>
      <option value="wooden_wall">Wooden Wall</option>
    </select>

    <h3>Furniture Catalog</h3>
    <select id="furniture-options" style="width: 100%;">
      <option value="sofa">Sofa</option>
      <option value="coffeeTable01">Coffee Table - Blue</option>
      <option value="table">Table</option>
    </select>
    <button id="add-furniture">Add Furniture</button>


  </div>

  <div id="mode-indicator" style="
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
  border-radius: 5px;
  z-index: 1000;
  pointer-events: none;">Mode: Translate</div>


  <!-- Plot Container -->
  <div id="plot-container" style="flex: 1; display: flex; align-items: center; justify-content: center;"></div>
</div>

<script type="module">
  console.log("Hello from show.html.erb");
</script>

<%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload", defer: true %>
<%= tag.meta name: "turbo-visit-control", content: "reload" %>
