

<body>
  <div class="avatar-container">
    <div id="avatar-controls">
      <label for="clothing">Choose Clothing:</label>
      <select id="clothing">
        <option value="none">None</option>
        <option value="hat">Hat</option>
        <option value="shirt">Shirt</option>
      </select>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="avatar.js"></script>
</body>

