
#avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ef0000;
}

.avatar-canvas {
    width: 500px;
    height: 500px;
    border: 2px solid #000;
    background: white;
}
